<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="stylized">
  <tr>
    <th><%= sortable "name" %></th>
	<th><%= sortable "phone" %></th>
	<th><%= sortable "client_type" %></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, customer %></td>
	<td><%= customer.phone %></td>
	<td><%= customer.client_type %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @customers %>
