<%= content_for :headline do %>
<h1>Customers &rarr; <span>List</span></h1>
<% end %>









<%= form_tag customers_path, :method => 'get', :id => "customers_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
  </p>
	<p>
	<%= customers_per_page_select @customers %> Per Page
	</p>

	<%= submit_tag "Go", :name => nil %>
  <div id="customers"><%= render 'customers' %></div>
<% end %>



<p><%= link_to "New Customer", new_customer_path %></p>








