<table class="stylized full">
	<thead>
		<tr>
	    	<th>Attribute</th>
			<th>Content</th>
	  	</tr>
	</thead>
	
	<tbody>
		<tr>
			<td>Customer Name</td>
			<td><%= @customer.name %></td>
		</tr>
		<tr>
			<td>Address 1</td>
			<td><%= @customer.address1 %></td>
		</tr>
		<tr>
			<td>Address 2</td>
			<td><%= @customer.address2 %></td>
		</tr>
		<tr>
			<td>City</td>
			<td><%= @customer.city %></td>
		</tr>
		<tr>
			<td>State</td>
			<td><%= @customer.state %></td>
		</tr>
		<tr>
			<td>Zip</td>
			<td><%= @customer.zip %></td>
		</tr>
		<tr>
			<td>Country</td>
			<td><%= @customer.country %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @customer.email %></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><%= @customer.phone %></td>
		</tr>
		<tr>
			<td>Fax</td>
			<td><%= @customer.fax %></td>
		</tr>
		<tr>
			<td>Client Type</td>
			<td><%= @customer.client_type %></td>
		</tr>
		<tr>
			<td>Euler</td>
			<td><%= @customer.euler %></td>
		</tr>
		<tr>
			<td>Contact</td>
			<td><%= @customer.contact %></td>
		</tr>

		
	</tbody>
</table>



<h1>Customer Attachments</h1>
<table>
  <tr>
    <th>Attachment type</th>
    <th>Customer</th>
    <th>Attachment file name</th>
    <th>Attachment file size</th>
    <th>Attachment content type</th>
    <th>Attachment updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for attachment in @customer.attachments %>
  <tr>
    <td><%= attachment.attachment_type %></td>
    <td><%= attachment.customer_id %></td>
    <td><%= attachment.attachment_file_name %></td>
    <td><%= attachment.attachment_file_size %></td>
    <td><%= attachment.attachment_content_type %></td>
    <td><%= attachment.attachment_updated_at %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to "Download", attachment.attachment.url%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_customer_attachment_path(@customer) %>