<table class="stylized full">
	<thead>
		<tr>
	    	<th>Attribute</th>
			<th>Content</th>
	  	</tr>
	</thead>
	
	<tbody>
		<tr>
			<td>Customer Name</td>
			<td><%= @customer.name %></td>
		</tr>

		
		<tr>
			<td>Address 1</td>
			<td><%= @customer.address1 %></td>
		</tr>
		<tr>
			<td>Address 2</td>
			<td><%= @customer.address2 %></td>
		</tr>
		<tr>
			<td>City</td>
			<td><%= @customer.city %></td>
		</tr>
		<tr>
			<td>State</td>
			<td><%= @customer.state %></td>
		</tr>
		<tr>
			<td>Zip</td>
			<td><%= @customer.zip %></td>
		</tr>
		<tr>
			<td>Country</td>
			<td><%= @customer.country %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @customer.email %></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><%= @customer.phone %></td>
		</tr>
		<tr>
			<td>Fax</td>
			<td><%= @customer.fax %></td>
		</tr>
		<tr>
			<td>Client Type</td>
			<td><%= @customer.client_type %></td>
		</tr>
		<tr>
			<td>Euler</td>
			<td><%= @customer.euler %></td>
		</tr>
		<tr>
			<td>Contact</td>
			<td><%= @customer.contact %></td>
		</tr>

		
	</tbody>
</table>
