<%= content_for :headline do %>
<h1>Client Card &rarr; <span>Overview</span></h1>
<% end %>

<div class="client_card">
	<h1 class="client_name"><%= @customer.name %> - (<%= @customer.phone %>)</h1>
	
	<% if @customer.client_type == "Customer"%>
		<p class="client_type client_customer"><%= @customer.client_type %></p>
	<% elsif @customer.client_type == "Inactive"%>
		<p class="client_type client_inactive"><%= @customer.client_type %></p>
	<% elsif @customer.client_type == "Credit Hold"%>
		<p class="client_type client_credit_hold"><%= @customer.client_type %></p>
	<% end %>
	
	<div class="clearfix"></div>
	
	<h3>Contact: <span><%= @customer.contact %></span></h3>
	<h4><%= @customer.address1 %></h4>
	<h4><%= @customer.address2 %></h4>

	<h4><%= @customer.city %>,
	<%= @customer.state %>
	<%= @customer.zip %>
	<%= @customer.country %> </h4>


	<h5>Email: <span><%= @customer.email %></span></h5>

	<h5>Fax: <span><%= @customer.fax %></span></h5>
	
	

	<h5>Euler Rating: <%= @customer.euler %></h5>

</div><!-- client_card -->

<% content_for(:shortcut_title) do %>
	Attachments
<% end %>

<% content_for(:shortcut_box) do %>
	<%= render 'customers/attachments'%>
<% end %>









<h1>Call History</h1>

<table class="full stylized">
  <tr>
    <th>User</th>
    <th>Customer</th>
    <th>Call time</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

<%for call in @customer.calls %>
  <tr>
    <td><%= call.user.login %></td>
    <td><%= call.customer.name %></td>
    <td><%= call.call_time %></td>
    <td><%= call.notes %></td>
    <td><%= link_to 'Edit', edit_customer_call_path(@customer,call) %></td>
    <td><%= link_to 'Destroy', [@customer, call], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call', new_customer_call_path(@customer) %>



