<p>Thanks!</p>
<p>User Full Name: <%= @user.full_name%></p>
<p>Report ID:<%= @report.id%></p>

<p>Link to Report: <%= report_url(@report)%></p>




<div id="report_container">
	<div id="sent_to">
	</div>
	<div id="report_header">
		<%= image_tag("report_logo.png")%>
		<div id="report_links">
			<p class="phone_cell">(516) 359-3853</p>
			<p class="phone_office">(516) 390-4362</p>
			<a class="email_link" href="mailto:meri@bigbueocean.net">meri@bigblueocean.net</a>
			<a class="site_link" href="http://www.bigblueocean.net" target="_blank">bigblueocean.net</a>
		</div><!-- report_links -->
		<div class="clearfix"></div>
	</div><!--report_header -->
	
	<div id="report_content">
		<div id="report_subline">
		<h1>[<%=@report.report_date%>] MARKET REPORT <span>(El resumen de las classificaciones del embarque)</span></h1>	

		</div><!-- report_subline -->

		<div id="report_notes">
		<p><%= @report.notes%></p>
		</div><!-- report_notes -->


		<div id="report_tables">
			<% for category in @report.categories %>
				<div class="category_block">
					<h2 class="category_header"><%=h category.name %></h2>
					<table class="report_grade_table">
						<thead>
							<tr>
								<td>GRADE</td>
								<td>PRICE</td>
								<td>NOTES</td>
								<td>TREND</td>
							</tr>
						</thead>

						<tbody>
							<% for grade in category.grades %>
								<tr>
									<td><%= grade.name %></td>
									<td><%= grade.price %></td>
									<td class="description"><%= grade.description %></td>
									<td>
										<% if grade.trend == 1%>
											<%= image_tag("trend_up.png", :size=>"30x30")%>
										<% elsif grade.trend == -1 %>
											<%= image_tag("trend_down.png", :size=>"30x30")%>
										<% else %>
											<%= image_tag("trend_static.png", :size=>"30x30")%>
										<% end %>
									</td>
								</tr>
							<% end %>

						</tbody>
					</table>
				</div><!-- category_block -->
			<% end %>
			<div class="clearfix"></div>
		</div><!-- report_tables -->
	</div><!-- report_content -->
	
</div><!-- report_container -->





