<h1>Editing ratgrade</h1>

<%= form_for(@ratgrade) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :warehouse_id %><br />
    <%= f.text_field :warehouse_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.label :availdate %><br />
    <%= f.date_select :availdate %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ratgrade %> |
<%= link_to 'Back', ratgrades_path %>