<%= content_for :headline do %>
<h1>RATGrade Sales Summary &rarr; <span><%= @ratgrade.name%> out of <%= @ratgrade.warehouse.name%></span></h1>

<% end %>


<div id="orders_chart" style="width: 828px; height: 300px;"></div> 

<script type="text/javascript" charset="utf-8">  
  $(function () {  
  new Highcharts.Chart({  
    chart: { 
		renderTo: 'orders_chart',
		defaultSeriesType: 'spline' 
		},  
    title: { text: 'Orders by Time' },  
    xAxis: { type: 'time',
	        dateTimeLabelFormats: {
	            hour: '%H:%M'   
	        }}, 
    yAxis: {  
      title: { text: 'Dollars' }  
    },  

	tooltip:{
		formatter: function () {  
		        return Highcharts.dateFormat("%H:%M", this.x) + ': ' +  
		          '$' + Highcharts.numberFormat(this.y, 2);  
		      }
	},

	series: [{
	         name: 'Order Price',
				pointInterval: 3600 * 1000 ,  
				pointStart: <%= @sales.minimum(:created_at).strftime('%r').to_i * 3600 * 1000 %>,
	         data: [
			<% @sales.each do |sale| %> 
			<%= sale.price %>,
			<% end %>
			]
	      }, {
	         name: 'Average Price',
				pointInterval: 3600 * 1000 ,  
				pointStart: <%= @sales.minimum(:created_at).strftime('%r').to_i * 3600 * 1000 %>,
	         data: [
			<% @sales.each do |sale| %> 
			<%= @sales.average(:price) %>,
			<% end %>
			]
	      }]
	

  });  
});
</script>




<% @sales.group_by(&:user).each do |user,sales| %>
	<h2><%=user.full_name %></h2>
	<table class="stylized">
  	<tr>
	    <th>Amount</th>
		<th>Price</th>
		<th>Time</th>
	    <th>Customer</th>
		<th>Actions</th>
		<th>&nbsp; </th>
		<th>&nbsp; </th>
	 </tr>


  	<% sales.each do |sale| %>
	<tr>
    	<td><%=h sale.amount %></td>
		<td><%=h number_to_currency sale.price %></td>
		<td><%= sale.created_at.strftime('%r')%></td>
	    <td><%=h sale.customer.name %></td>
	    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
	    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
	<% end%>
	</table>
<% end %>
