<h1>Editing sale</h1>

<%= form_for( @sale) do |f| %>


<% if @sale.errors.any? %>
<div class="box box-error">Errors!</div>
	<div class="box box-error-msg">
	
	    <div id="error_explanation">
	      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this gig from being saved:</h2>

	      <ul>
	      <% @sale.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	</div>
<% end %>	



  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :ratgrade_id %><br />
    <%= f.text_field :ratgrade_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </p>
  <p>
    <%= f.label :allocated %><br />
    <%= f.check_box :allocated %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sale %> |
<%= link_to 'Back', sales_path %>