<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Reports: <%= controller.action_name %></title>
	<%= javascript_include_tag 'jquery-1.4.2', 'rails','jquery-ui-1.8.2.custom.min', 'application','swfobject','jquery.tipTip.min','jquery.superfish.min','jquery.supersubs.min','jquery.validate_pack','jquery.nyroModal.pack','administry','autocomplete-rails' %>  
  	<%= stylesheet_link_tag 'redmond/jquery-ui-1.8.2.custom.css','style','custom' %>


	<%= csrf_meta_tag%>
</head>
<body>
	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title"><%= image_tag "logo.png", :size=>"339x44"%><!--<span>Administry</span> demo--></div>
			<!-- Top navigation -->
			<div id="topnav">
				<a href="#"><%= image_tag "user_32.png", :size=>"16x16", :class=>"avatar"%></a>
				<% if current_user %>
				
				Logged in as <b><%= current_user.login%></b><span>|

				<% end %>
				
				</span> <a href="#">Settings</a>
				<span>|</span> 
				
				<% if current_user %>
				
				<%= link_to "Logout", logout_path%><br />
				
				
				<% else %>
				
				<%= link_to "Login", login_path %><br />
				
				<% end %>
				<small>You have <a href="#" class="high"><b>1</b> new message!</a></small>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<nav id="menu">
				<ul class="sf-menu">
					<li><%= link_to "Dashboard", root_url%></li>
					<li>
						<%= link_to "RATBoard", boards_path%>
						<ul>
							<li>
								<%= link_to "Today's RATBoard", boards_path%>
							</li>
							<li>
								<%= link_to "Today's Sales", boards_path%>
							</li>
							<li>
								<a href="#">Sample Pages...</a>
								<ul>
									<li><a href="samples-files.html">Files</a></li>
									<li><a href="samples-products.html">Products</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><%= link_to "Market Reports", reports_path%></li>
					<li><%= link_to "Users", users_path%></li>
				</ul>
			</nav>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside>
			<!-- End of Aside links -->
		</div>
	</header>
	
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<%= yield :headline %>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">	
					<%=flash[:notice]%>				
					<%= yield %>
					

				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<div id="rightmenu">
						<header>
							<h3>Shortcut links...</h3>
						</header>
						<dl class="first">
							<dt><%=image_tag("key.png")%></dt>
							<dd><a href="#">Nunc tincidunt</a></dd>
							<dd class="last">Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus.</dd>
							
							<dt><%= image_tag "delete.png", :size=>"16x16"%></dt>
							<dd><a href="#">Proin dolor</a></dd>
							<dd class="last">Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc.</dd>
							
							<dt><%= image_tag "add.png", :size=>"16x16"%></dt>
							<dd><a href="#">Aenean lacinia</a></dd>
							<dd class="last">Mauris eleifend est et turpis.</dd>
						</dl>
					</div>
					<div class="content-box">
						<header>
							<h3><%= yield :quick_title%></h3>
						</header>
						<section>
							
								<%= yield :quick_box %>
							
						</section>
					</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	
	<!-- Page footer -->
	<footer id="bottom">
		<div class="wrapper">
			<nav>
				<a href="#">Dashboard</a> &middot;
				<a href="#">Content</a> &middot;
				<a href="#">Reports</a> &middot;
				<a href="#">Users</a> &middot;
				<a href="#">Media</a> &middot;
				<a href="#">Events</a> &middot;
				<a href="#">Newsletter</a> &middot;
				<a href="#">Settings</a>
			</nav>
			<p>Copyright &copy; 2010 <b><a href="http://themeforest.net/user/zoranjuric" title="Visit my profile page @ThemeForest">Zoran Juric</a></b> | Icons by <a href="http://www.famfamfam.com/">FAMFAMFAM</a></p>
		</div>
	</footer>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<footer id="animated">
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<a href="#" id="totop">^ scroll to top</a>

<!-- Admin template javascript load -->

</html>
</body>